<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Baba Bhusandeswar Temple </title>
  <meta name="description" content="">
  <meta name="keywords" content="">
    <%- include('../layout/css'); %>
    <%- include('../layout/header'); %>
    <body class="index-page">
        <main class="main">
            <%- body %> <!-- This will be replaced by the content of individual pages -->
        </main>
            <%- include('../layout/footer'); %>
            <%- include('../layout/js'); %>
    </body>
</html>
